<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Hakkımda</h2>
        <p>Merhaba, ben Murat, Yazılım Mühendisliği mezunuyum. Fırat Üniversitesinden mezun oldu. Fırat Üniversitesi Türkiye'de Yazılım Mühendisliği bölümünü açan ilk devlet üniversitesidir. Şu anda Youtube ve Udemy'de eğitmenlik yapmaya devam ediyorum.</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 justify-content-center">
            <div class="col-lg-4">
                <img src="/MyResume-1.0.0/assets/img/profile-img.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 content">
                <h2>.Net Developer &amp; Web Geliştirici.</h2>
                <p class="fst-italic py-3">
                    Bana ait kişisel bilgilere aşağıdaki ekrandan erişim sağlayabilirsiniz.
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Doğum Tarihi:</strong> <span>1 Ekim 1993</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.muratyucedag.com</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Telefon:</strong> <span>+90 500 400 30 20</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Şehir:</strong> <span>İstanbul, Türkiye</span></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Yaş:</strong> <span>31</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Eğitim:</strong> <span>Lisans</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>email@example.com</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Müsait</span></li>
                        </ul>
                    </div>
                </div>
                <p class="py-3">
                    Freelance iş tekliflerine açığım. Her türlü web tabanlı uygulama geliştirmesi yapabilirim. Daha önce E-Ticaret ve bankacılık gibi kompleks uygulama domainlerinde çalışmalar yürüttüm.
                </p>
            </div>
        </div>

    </div>

</section>
